div(class="container text-center my-3")
    div(class="jumbotron" style="background-color: rgb(191, 226, 191);color: darkgreen;")
        h1="Datos"
        br
        h3="Argumentos de entrada " + args
        br
        h3="Nombre de la plataforma (Sistema Operativo) " + plataforma
        br
        br
        h3="Versión de Node.js " + version
        br
        h3="Uso de Memoria " + usoMemoria
        br        
        h3="Path de Ejecución " + pathEjecucion
        br        
        h3="Process Id " + idProceso
        br              
        h3="Carpeta Corriente " + carpetaCorriente
        br              
        h3="Número de procesadores " + numCPUs