html
    head
        meta(charset="UTF-8")
        link(rel="stylesheet", href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css")
        script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js")
        script(src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js")
        script(src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js")        
        title='Login'
    body    
        div(class="m-5 pb-5 bg-light")
            h2.text-primary= "Login de Usuario"
            br
            form(action="api/login" method="post")        
                label.strong.em= 'Ingrese su nombre'
                br
                input(type="text" id="username" name="username" placeholder="Daniel")
                br
                br
                input(type="password" id="password" name="password" placeholder="******")
                br
                br
                button(class="btn btn-success" onclick="sendDatosLogin(this)")="Enviar"
                div(class="container my-5")
                    div(class="jumbotron text-center text-primary")
                        h1.span(class="fa fa-lock")="Social Authentication"
                        a(class="btn btn-primary" href="/auth/facebook")="Login con Facebook"